/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/12/2019, 01:00:49 AM
    Author     : macbookair
*/

body{
    background: url('../img/background/salud.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.ui-widget-header{
    margin-top: 20px;
    background: rgba(255,255,255,0.5) !important;
    text-align: center;
    border: none;
    font-size: 22px!important;
}
.ui-inputfield{
    width: 90%;
    margin: 10px 0 !important;
    font-size: 16px !important;
    color: black !important;
}
.ui-panel-content{
    text-align: center;
}
.ui-panel{
    z-index: 100;
    background: rgba(255,255,255,0.9);
    position: fixed;
    width: 20%;
    min-width: 290px;
    top: 20%;
    left: 40%;
}
.ui-button-text{
    width: 80% !important;
}